@import "tailwindcss";
@import "./theme/tokens.css";

@font-face {
  font-family: "BlackOpsOne";
  src: url("./assets/fonts/BlackOpsOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-black-ops {
  font-family: "BlackOpsOne", sans-serif;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
}
